version: "3.8"

services:
  oauth2-server:
    image: felixmurcia/oauth2server:dev
    container_name: oauth2server-dev
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    volumes:
      - /home/jetson/oauth2db:/app/data
