apiVersion: v1
kind: Service
metadata:
  name: oauth2-server
  namespace: auth
spec:
  selector:
    app: oauth2-server
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  type: ClusterIP
